extend basepage.pug

block link
  link(rel="shortcut icon" href="/favicon.png")
  link(rel="stylesheet" href=`/css/themes/${themeId}/bootstrap.min.css`)
  link(rel="stylesheet" href=`/css/colorpreviews/${themeId}.min.css`)
  link(rel="stylesheet" href="/css/layout.css")
  link(rel="stylesheet" href="/css/preview.css")

block navbar
  +navbar(false)

block content
  .row.gx-0#preview
    .col-12#preview-sidebar-wrapper
      .p-3#preview-sidebar
        ul.nav.nav-pills.flex-column
          each title, id in tabs
            li.nav-item
              if id === defaultTab
                button.nav-link.active(data-bs-toggle="tab" data-bs-target=`#page-${id}`)= title
              else
                button.nav-link(data-bs-toggle="tab" data-bs-target=`#page-${id}`)= title

    .col-12.mt-md-02#preview-content-wrapper
      .p-3.tab-content#preview-content
        h1= theme.name
        hr

        include tabpanes/accordion.pug
        include tabpanes/alerts.pug
        include tabpanes/badges.pug
        include tabpanes/breadcrumbs.pug
        include tabpanes/buttons.pug
        include tabpanes/cards.pug
        include tabpanes/carousel.pug
        include tabpanes/colors.pug
        include tabpanes/forms.pug
        include tabpanes/modal.pug
        include tabpanes/navtab.pug
        include tabpanes/progress.pug
        include tabpanes/spinners.pug
        include tabpanes/tables.pug
        include tabpanes/toasts.pug
        include tabpanes/tooltips.pug
        include tabpanes/typography.pug

block append bodyscript
  script.

    // Initialize popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })

    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
